


<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite">
	 
  <test name="Test1">
    <classes>
     
         <class name="AxisBank.testNG.Test1"/>
    <class name="AxisBank.testNG.Test2"/>
    <class name="AxisBank.testNG.softassert_eg"/>
      <class name="AxisBank.testNG.HardAssert"/>

    </classes>
  </test> 
</suite> 

<!-- <class name="AxisBank.testNG.Test1"/>
<class name="AxisBank.testNG.SimpleTest"/>
		<class name="AxisBank.testNG.Grouping"/>
      <class name="AxisBank.testNG.softassert_eg"/>
         <class name="AxisBank.testNG.HardAssert"/>
		<class name="AxisBank.testNG.Parallel"/
<suite name="Suite1Axis" method="parallel"  >
  <test name="Test1ForAxis" threads="6">
	  
	 <groups>
		<define name="Rajubhai">
		<include name="Sanity"></include>
		<include name="Regression"></include>

		<run>
			<include name="Rajubhai"></include>
		</run>
		</define>
	
	  </groups>
	 
    <classes>
		
<parameter name="browser" value="firefox"></parameter>

       

    
    </classes>

  </test>
</suite>
<class name="AxisBank.testNG.SimpleTest"/>
<class name="AxisBank.testNG.Grouping"/>
        <class name="AxisBank.testNG.softassert_eg"/>
         <class name="AxisBank.testNG.HardAssert"/>
         <class name="AxisBank.testNG.Test1"/>
         <class name="AxisBank.testNG.Test2"/>
<class name="AxisBank.testNG.Parallel"/>
<parameter name="browser" value="firefox"></parameter>

  <groups>
		<define name="Rajubhai">
		<include name="Sanity"></include>
		<include name="Regression"></include>

		<run>
			<include name="Rajubhai"></include>
		</run>
		</define>
	
	  </groups>
 -->
<!-- Suite1Axis -->